* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1565C0;
    background: -webkit-linear-gradient(to top, #1565C0, #b92b27);
    background: linear-gradient(to top, #1565C0, #b92b27);
    background-size: cover;
}

h1 {
    color: rgb(241, 219, 219);
    margin: 4% 0%;
    position: relative;
    left: 45%;
    right: 0%;
}

@media screen and (max-width:768px) {
    h1 {
        left: 40%;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 3%;
    grid-row-gap: 4%;
    align-items: center;
}

.gallery img {
    /* margin: 5%;
    padding: 5%; */
    width: 100%;
}